
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        #nav {
            font-family: sans-serif;
            padding: 0;
            width: 100%;
            top: 0;
            left: 0;
            transition: transform .2s ease-in;
            z-index: 1;
            background-color: #fff;
            position: sticky;
            top: 0px;
            padding: 10px 110px 10px 110px;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            color: gray;
            font-size: 18px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            /* border:1px solid red; */
        }




        #nav img {
            width: 100%;
            height: 40px;
        }

        #Earn {
            display: flex;
            font-size: larger;
            line-height: 40px;
            width: 80%;
            margin: auto;
            /* margin-top: 40px; */
            /* border: 1px solid red; */
        }

        #Earn p {
            width: 100%;
            font-size: large;
            margin-top: 4px;
            color: rgb(135, 135, 135);
            font-family: sans-serif;
            font-size: 25px;
        }

        #Earn h1 {
            margin-top: 100px;
            font-family: sans-serif;
        }

        #wrap {
            /* border: 1px solid red; */
            height: 680px;
            background: url(https://s3-ap-southeast-1.amazonaws.com/urbanclap-prod/categories/category_v2/category_3cb50750.jpeg) no-repeat rgba(220, 240, 251, .5);
            background-size: contain;
            width: 100%;
        }

        #blue {
            width: 85%;
            height: 160px;
            border-radius: 15px;
            margin-top: -15px;
            margin-left: 150px;
            background-color: rgb(35, 93, 253);
            color: white;
            padding-bottom: 20px;
        }

        #text {
            margin-left: 40px;
            padding-top: 10px;
            font-size: 18px;
            font-weight: 600;
            font-style: normal;
            width: 180%;
            padding-right: 50px;
            font-family: axiforma-regular, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;

        }

        #flex {
            display: flex;
            width: 55%;
            margin-top: 40px;
            margin-left: 40px;
            justify-content: space-evenly;
            padding-bottom: 30px;
            gap: 15%;

            margin: 20px;
        }


        .Partner {
            text-rendering: optimizeLegibility;
            font-family: axiforma-regular, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
            width: 1136px;
            margin: 0 auto 60px;
            font-style: normal;
            font-weight: 700;
            line-height: 49px;
            text-align: center;
            color: #222;
            font-size: 25px;
        }

        h2 {
            display: block;
            margin-top: 50px;
        }

        .Partner p {
            color: gray;
            font-size: 20px;
            font-weight: normal;
            margin-top: 10px;
        }

        .Partner ul {
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            color: green;
            font-family: 'Segoe UI', Tahoma, Verdana, sans-serif Helvetica, Arial, sans-serif;
            font-size: 35px;
            font-weight: 0px;
            font-style: normal;
            gap: 80px;
            margin-top: 90px;
        }

        #pp {
            font-weight: 600;
            color: black;
            padding-bottom: 10px;
        }

        #last {
            width: 80%;
            height: 350px;
            /* border: 1px solid red; */
            margin-left: 150px;
            border-radius: 20px;
            padding-top: 10px;
            text-align: center;
            font-weight: 300;
            font-size: 20px;
            font-family: sans-serif;
            margin-bottom: 100px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        }

        #last p {
            color: gray;
            font-size: 16px;
            margin-top: 10px;
        }

        #pic {
            display: flex;
            gap: 30%;
            margin-top: 40px;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
