*{
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
}
#navbar{
    display: flex;
    /* border: 1px solid rgb(114, 107, 107); */
    padding:8px 14px 8ox 14px;
}
#navbar>#sidebar{
    display: flex;
    justify-content:flex-end;
    gap:25px;
    font-size: 10px;
    margin-right: 80px; 
     flex-direction: row;
    /* border: 1px solid blue; */
    margin-left: 1030px;
    padding: 17px 12px 12px 17px;
}

#sidebar>.same{
    line-height: 20px;
    font-size: 18px;
    font-weight: 550;
    color: rgb(15, 15, 15);
    margin-top:5px;
   
} 
hr{
    /* border:1px solid rgb(78, 75, 75); */
    width: 85%;
    margin: auto;
    margin-top: 15px;
    border:1px solid rgb(183, 174, 174);
}
.first_div{
    
    display: flex;
    /* border:1px solid black; */
    margin-top: 50px;
    height: 400px;
}
.first_div>#spa_for_women{
    margin-right: 32px;
    width: 448px;
    /* border: 1px solid red; */
    margin: 0!important;
    height: 100%;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    position: relative;
   
}
#items>.uc{
    /* border: 1px solid blue; */
    width: 70%;
    margin: auto;
    display: flex;
}
.final>h1{
    font-size: 15px;
   border: 1px solid #e0e0e0;
    /* width: 50px; */
    display: flex;
    padding: 10px 17px 10px 17px;
    border-radius: 8px;
    margin: 80px 0px 0px 20px;
    position: absolute;
   gap: 5px;
}
#spa_for_women{
    /* border: 1px solid green; */
}
#items{
    /* border: 1px solid black; */
    height: 137px;
}
#women{
    /* border: 1px solid tomato; */
    width: 60%;
    margin: auto;
    font-size:40px;
}
#women+#rating{
/* border:1px solid black; */
width: 60%;
margin: auto;
display:flex;
gap: 8px;
margin-top: 8px;
color:grey;
font-weight: 500px;
}
.message{
    /* border: 1px solid black; */
    width: 77%;
    position: absolute;
    margin-left: 100px;
    display: flex;
    padding: 8px 10px 8px 10px;
    gap: 15px;
    border:1px solid rgb(183, 174, 174);
    margin-top: 30px;
}
.fa-heart{
    color: blue;
}
#mini-images{
    /* border: 1px solid black; */
    height: 70px;
    display: flex;
    gap: 30px;
    width: 86%;
    margin: auto;
    /* margin-top: 20px; */
}
#mini-images>div{
    /* border:1px solid blue; */
    width: 7%;
    border-radius: 8px;
    height:auto;

}
img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
#images{
   margin-top: 30px;
}
.main_part{
    height: 500vw;
    border: 1px solid black;
    margin-top: 40px;
}
.main_part1{
    width: 60%;
    height: 500vw;
    border: 1px solid red;
}
.main_part1>div{
    width: 80%;
    margin: auto;
    border: 1px solid green;
    height: 550px;
}
.main_part1_images{
    width: 100%;
    height: 320px;
}
.bestseller{
    border: 1px solid black;
    width: 40%;
   
}
.video{
    margin-left: 60px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.main_part1_images+#first_image{
    display: flex;
    /* border: 1px solid blue; */
    height: auto;
    margin-top: 20px;
    justify-content: space-between;
}
.rating{
    color:grey;
    font-size: 15px;
    margin-top: 10px;
}
.fa-star{
    font-size: 10px;
}
.r1{
    color: black;
}
#btn{
    padding: 8px 20px 8px 20px;
    border:2px solid #e0e0e0;
    color:rgb(158, 19, 158);
    font-weight: 500;
    background-color: white;
    border-radius: 8px;
    font-size: 15px;
}
.add_items>p{
    font-size: 15px;
    color: gray;
    margin:10px 0px 0px 10px;
}
#hr_2{
    color: rgb(162, 157, 157);
    width: 100%;
}
.main_part1_1_images{
    color:grey;
    font-size: 12px;
}
.main_part1_1_images>h3{
    margin-top: 10px;
}
#alag{
    color:purple;
margin-top: 15px;
}
