*{
    margin: 0;
    padding: 0;
    font-family: axiforma-regular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}
#maruti{
    /* border:1px solid red; */
    width: 80%;
    margin: auto;
   
}
.thirty-one>h1{
    text-align: center;
    font-size: 50px;
    margin:20px;
}
.thirty-five{
    
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(200px);
    gap: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.thirty-five>div>img{
    width: 100%;
    height: 200px;
    margin-bottom: 15px;

}
.thirty-five>div>p{
    text-align: center;
    font-size: 20px;
}
.thirty-two{
    height: 200px;
    display: flex;
    justify-content:center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    margin-top: 30px;
    /* border:1px solid red; */
    
}
.thirty-two>div>img{
    width: 30%;
    /* border:1px solid red; */
    margin-left: 25%;
}
.thirty-two>div>h2{
  font-size: 30px;
  /* border:1px solid red; */
}
.thirty-two>div>p{
    font-size: 20px;
    /* border:1px solid red; */
  }
  .thirty-two>div>a{
    text-decoration: none;
    font-size: 20px;
  }
.thirty-three{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    margin-top: 30px;
    height: 200px;
    padding-top: 20px;
}
.thirty-three>div>h2{
    font-size: 30px;
    margin-left: 20%;
    padding-bottom: 10px;
}
.thirty-three>div>p{
    font-size: 20px;
    margin-left: 20%;
    padding-bottom: 15px;
}
.thirty-three>div>button{
    font-size: 20px;
    margin-left: 20%;
    padding: 8px;
    border-radius: 8px;
    color: purple;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
}
.thirty-four{
    height: 200px;
    display: flex;
    justify-content:center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    margin-top: 30px;
}
.thirty-four>div>img{
    width: 70%;
}
.thirty-four>div>h2{
    font-size: 30px;
}
.thirty-four>div>p{
    font-size: 20px;
}