* {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
  background: linear-gradient(rgb(78, 78, 255), rgb(180, 23, 248));
}

.nikhil_payment_div {
  width: 25%;
  height: 50%;
  background-color: white;
  margin: auto;
  margin-top: 10%;
  background: linear-gradient(rgb(220, 220, 220), rgb(213, 127, 213));
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
display: grid;
justify-content: center;
align-items: center;
text-align: center;
grid-template-columns: 1fr;
/* gap: 20px; */

}

.nikhil_tick
{
    margin-top: 35px;
    margin-bottom: -100px;
}

.nikhil_tick i {
  font-size: 130px;
  background: linear-gradient(rgb(78, 78, 255), rgb(180, 23, 248));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
    
}
