* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
:root {
  --greyText: rgb(134, 134, 134);
  --grey: rgb(207, 207, 207);
}

body {
  background-color: #e5e5e5;
}

.nikhil_gateway_container {
  width: 40%;
/* height: 100%; */
  margin: auto;
  background: white;
}
.nikhil_heading_box {
  border-bottom: 3px solid whitesmoke;
  padding: 20px;
  display: flex;
  gap: 20px;
}

.nikhil_logo_arrow:hover
{
background-color: rgb(237, 237, 237);
}
.nikhil_arrow_head {
  display: flex;
  align-items: center;
  font-size: 20px;
}
.nikhil_payment_methods p:first-child {
  font-weight: 600;
  font-size: 20px;
  line-height: 21px;
}
.nikhil_payment_methods p:last-child {
  color: var(--greyText);
}

h2 {
  font-weight: 600;
  font-size: 20.5px;
}



.nikhil_wallet_conatiner {
  padding: 30px 20px;
  border-bottom: 10px solid whitesmoke;
}

.nikhil_logo_arrow {
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.nikhil_logo_arrow > div {
  display: flex;
  align-items: center;
  margin-top: 30px;
    font-weight: 600;
  font-size: 18px;
}

.nikhil_logo_arrow > div img {
  width: 35px;
  height: 32px;
  border-radius: 10px;
  border: 1px solid var(--grey);
  margin-right: 20px;

}


.nikhil_add_loading_logo
{
    position: absolute;
    top: 40%;
    left: 47%;
    width: 100px;
}
body{
    /* background: ; */
}

.nikhil_gateway_container
{
    /* background-color:e5e5e5 ; */

}