*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: axiforma-regular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

#tavera{

   margin: 8%;
}
.sixty-one>div>h1{
    text-align: center;
    font-size: 40px;
    margin: 45px;

}
.sixty-two{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px; 
    display:flex;
    width: 80%;
    /* border: 1px solid red; */
    margin: auto;
}
.sixty-four{
    width: 40%;
    margin: 20px;
    /* border: 5px solid greenyellow; */
    
}
.sixty-four>img{
    width: 100%;
    border-radius: 8px;
    transition: 1s;
    
}
.sixty-four>a{
    text-decoration:none;
    display: block;
    text-align: center;
    padding: 5px;
    margin: 10px;
    color: black;

}
.sixty-four>img:hover{
    transform:scale(1.1) ;
    cursor: pointer;
}