*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#suzuki{
    background-color: black;
    margin-top: 30px;
}

hr{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
#range{
    /* border: 1px solid red; */
    width: 80%;
    margin: auto;
    background-color: black;
}
#range>div>a{
    text-decoration: none;
    font-size: 15px;
    margin: 14px;
    line-height: 40px;
    font-family: axiforma-regular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: rgb(182, 179, 179);
}
#range>div>a:hover{
    color: white;
}
#rover{
    /* border: 1px solid red; */
    width: 80%;
    margin: auto;
    background-color: black;
}
.one>p{
    color: white;
    font-size: large;
    margin: 10px;
    line-height: 35px;
    font-family: axiforma-regular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
.one>a{
    color: rgb(182, 179, 179);
    font-size: 15px;
    margin: 14px;
    line-height: 35px;
    font-family: axiforma-regular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    text-decoration: none;
}
.one>a:hover{
    color: white;
}
.two>p{
    color: white;
    font-size: large;
    margin: 10px;
    line-height: 35px;
    font-family: axiforma-regular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    text-decoration: none;
}
.two>a{
    color: rgb(182, 179, 179);
    font-size: 16px;
    margin: 14px;
    line-height: 35px;
    font-family: axiforma-regular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    text-decoration: none;
}
.two>a:hover{
    color: white;
}

.three>p{
    color: white;
    font-size: large;
    margin: 10px;
    line-height: 35px;
    font-family: axiforma-regular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    text-decoration: none;
}
.three>a{
    color: rgb(182, 179, 179);
    font-size: 15px;
    margin: 14px;
    line-height: 35px;
    font-family: axiforma-regular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    text-decoration: none;
}
.three>a:hover{
    color: white;
}
.four>p{
    color: white;
    font-size: large;
    margin: 10px;
    line-height: 35px;
    font-family: axiforma-regular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    text-decoration: none;
}
.four>a{
    color: rgb(182, 179, 179);
    font-size: 15px;
    margin: 14px;
    line-height: 35px;
    font-family: axiforma-regular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    text-decoration: none;
}
.four>a:hover{
    color: white;
}
.five>p{
    color: white;
    font-size: large;
    margin: 10px;
    line-height: 35px;
    font-family: axiforma-regular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    text-decoration: none;
}
.five>a{
    color: rgb(182, 179, 179);
    font-size: 15px;
    margin: 14px;
    line-height: 35px;
    font-family: axiforma-regular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    text-decoration: none;
}
.five>a:hover{
    color: white;
}
.six>p{
    color: white;
    font-size: large;
    margin: 10px;
    line-height: 35px;
    font-family: axiforma-regular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    text-decoration: none;
}
.six>a{
    color: rgb(182, 179, 179);
    font-size: 15px;
    margin: 14px;
    line-height: 35px;
    font-family: axiforma-regular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    text-decoration: none;
}
.six>a:hover{
    color: white;
}
#mustang{
    /* border: 1px solid red; */
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: black;
}
.eleven{
    /* border: 1px solid greenyellow; */
    width: 20%;
    cursor: pointer;
}
.eleven>img{
    width: 80%;
}
.twelve{
    /* border: 1px solid greenyellow; */
    width: 25%;
    font-size: 13px;
    color: white;
    font-family: axiforma-regular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    text-align: center;
}
.thirteen{
    /* border: 1px solid greenyellow; */
    width: 30%;
    padding-left: 60px;
}
.thirteen>i{
    color: white;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
   
}
.fourteen{
    /* border: 1px solid greenyellow; */
    width: 12%;
    cursor: pointer;
}
.fourteen>img{
    width: 100%;
}
.fifteen{
    /* border: 1px solid greenyellow; */
    width: 12%;
    cursor: pointer;
}
.fifteen>img{
    width: 100%;
}


@media all and (min-width: 768px) and (max-width: 1024px){
    .eleven>img{
        width: 100%;
    }
    .thirteen{
        padding-left: 40px;
    }
    .thirteen>i{
        font-size: 15px;
    }
    .fourteen>img{
        width: 110%;
    }
    .fifteen>img{
        width: 110%;
    }
}

@media all and (min-width: 600px) and (max-width: 767px){
    .eleven>img{
        width: 100%;
    }
    .thirteen{
        padding-left: 20px;
    }
    .thirteen>i{
        font-size: 10px;
    }
    .fourteen>img{
        width: 150%;
    }
    .fifteen>img{
        width: 150%;
    }
}
@media all and (min-width: 250px) and (max-width: 599px){
    #mustang{
    flex-direction: column;
    }
    .eleven{
        width: 50%;
    }
    .eleven>img{
        width: 100%;
    }
    .thirteen{
        width: 100%;
        margin: auto;
    }
    .thirteen>i{
        font-size: 15px;
    }
    .fourteen{
        width: 50%;
    }
    .fourteen>img{
        width: 100%;
    }
    .fifteen{
        width: 50%;
    }
    .fifteen>img{
        width: 100%;
    }
    .twelve{
        width: 100%;
    }
}
