
#Item-added{
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.show{
    width: 300px;
    height: 300px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    margin-left: 30px;
    
}


.show>h4,h2,p,li{
    margin-left: 50px;
}


.remove{
    margin-left: 100px;
    color: blue;
    margin-top: 30px;
  background-color: white;
  border: none;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}