body{background-color:beige}
*{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}
#order-form{
    width: 30%;
    height: 300px;
    margin: auto;
    margin-top: 200px;
    

}
input{
    margin: auto;
    display: block;
    width: 70%;
    height: 70%;
    padding: 7px;
    margin-bottom: 20px;
    border-radius: 10px;
 
}
form :nth-child(4){
    margin: auto;
    background-color: red;
    display: block;
    width: 75%;
    height: 70%;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
   
}