* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

.nikhil_page_head h2 {
  display: inline;
  font-size: 18px;
}
.nikhil_page_head p {
  display: inline;
  margin-left: 20px;
  font-size: 20px;
  font-weight: 600;
}

.nikhil_summary_page {
  width: 72%;
  margin: auto;
  margin-top: 25;
  position: relative;
}

/* customizing the horizontal line */

hr {
  background-color: whitesmoke;
  border-radius: none;
  margin: 23px 0px 0px 0px;
}

/* customizatoin of the container */

.nikhil_container_summary {
  display: grid;
  grid-template-columns: 55% 42.5%;
  gap: 30px;
  /* border: 1px solid green; */
  /* padding: 10px; */
}

/* customization of left and right box */
.nikhil_left_box_summary {
  /* border: 1px solid yellow; */
  padding-top: 20px;
}

.nikhil_right_box_summary {
  /* border: 1px solid yellow; */
}

/* customization fo title section */

.nikhil_all_content_title_button {
  display: grid;
  grid-template-columns: 80% 20%;
  gap: 40px;
}

.nikhil_title_button_flex {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgb(192, 192, 192);
  margin-bottom: 18px;
}

.nikhil_button_plus_minus,
.nikhil_membership_button button {
  border: 1px solid rgb(204, 204, 204);
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 12px;
  color: blueviolet;
  background-color: #f2f0ff;
  font-weight: 600;
  font-size: 18px;
}

.nikhil_minus,
.nikhil_plus {
  border: none;
  background-color: white;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: blueviolet;
  background-color: #f2f0ff;
}
.nikhil_amount_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
}

.nikhil_memberhsip_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

/* 2nd horizontal line */
.nikhil_second_line {
  height: 12px;
  background-color: whitesmoke;
  border: none;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 30px;
}

.nikhil_frequently_added_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 25px;
  margin:30px 0px;
}
.nikhil_frquently_added_items img {
  width: 100%;
  height: 150px;
  border-radius: 10px 10px 0px 0px;
}
.nikhil_frquently_added_items p {
  margin-left: 17px;
  line-height: 22px;
}
.nikhil_frquently_added_items > p:nth-child(2) {
  margin-top: 10px;
  font-weight: 600;
  color: rgb(48, 48, 48);
  margin-bottom: 10px;
}
.nikhil_frquently_added_items button {
  display: block;
  margin-left: 18px;
  margin-top: 10px;
  width: 90px;
  height: 35px;
  color: blueviolet;
  border-radius: 10px;
  border: 1px solid rgb(204, 204, 204);
  cursor: pointer;
  font-size: 15;
  font-weight: 600;
  background-color: white;
  
}

.nikhil_frquently_added_items {
  
  border: 1px solid rgb(224, 224, 224);
  padding-bottom: 10px;
  border-radius: 10px;
}

/* rigth box customization */

.nikhil_right_box_summary {
  height: 500px;
  overflow: scroll;
  padding-top: 20px;
  position: relative;
}

.nikhil_summary_heading > p {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
}

.nikhil_total_price_itmes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 20px;
}
.nikhil_all_total_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 20px;
  color: rgb(36, 36, 36);
}

.nikhil_3_line {
  color: grey;
  height: 2px;
}
.nikhil_apply_cupoon input {
  display: block;
  padding: 10px;
  font-size: 18px;
  border: 1px solid rgb(174, 174, 174);
  border-radius: 10px;
}

.nikhil_apply_cupoon button {
  display: block;
  padding: 8px;
  font-size: 17px;
  border: 3px solid rgb(174, 174, 174);
  border-radius: 10px;
  color: blueviolet;
  font-weight: 600;
  cursor: pointer;
}

.nikhil_apply_cupoon {
  display: flex;
  justify-content: center;
  padding: 30px 0px;
  border-top: 10px solid whitesmoke;
  border-bottom: 10px solid whitesmoke;
  margin-top: 20px;
  justify-content: space-around;
}

.nikhil_adding_tip_to_thank_heading {
  font-weight: 600;
  font-size: 20px;
  margin: 30px 0px;
}
.nikhil_adding_small_tip_box {
  display: flex;
  justify-content: space-evenly;
}
.nikhil_adding_small_tip_box button {
  display: block;
  width: 70px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid rgb(184, 184, 184);
  background-color: white;
  margin: 0px 10px 0px -170px;
  cursor: pointer;
}
.nikhil_adding_small_tip_box span {
  position: absolute;
  width: 60px;
  font-size: 11px;
  background-color: #edf7f2;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
  color: green;
  margin-top: 30;
  left: 5.6rem;
}

.nikhil_add_tip_automatic {
  margin: 40px 0px;
  display: flex;
}

.nikhil_add_tip_automatic input {
  display: block;
  width: 16px;
  accent-color: black;
}

.nikhil_add_tip_automatic label {
  margin-left: 20px;
  display: block;
}

.nikhil_tip_details {
  color: grey;
}

.nikhl_add_address_and_slot {
  width: 100%;
  height: 65px;
  margin-top: 3px;
  border-radius: 10px;
  border: none;
  background: #6e42e5;
  color: white;
  font-size: 19px;
  font-weight: 600;
  cursor: pointer;
}

.nikhil_address_insdie_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: grey;
  padding: 10px;
  border: 2px solid rgb(205, 205, 205);
  border-radius: 10px;
  height: 80px;
  visibility: hidden;
  margin: 10px auto 5px;

  /* margin: 20px 0px; */
}

.nikhil_address_insdie_box button {
  display: block;
  width: 100px;
  height: 35px;
  border: 1px solid grey;
  border-radius: 10px;
  color: blueviolet;
  font-weight: 600;
  cursor: pointer;
}
.nikhil_add_address {
  display: block;
  /* margin-left: 70%; */
  width: 100%;
  height: 50px;
  border: 1px solid grey;
  border-radius: 10px;
  background: #6e42e5;
  color: white;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
.nikhil_head_address_for_cross {
  display: flex;
  align-items: center;
  font-size: 22px;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  height: 70px;
}
.nikhil_address_container {
  width: 60%;
  height: 600px;
  /* border: 1px solid; */
  visibility: hidden;
  position: absolute;
  top: 2rem;
  left: 22rem;
  background-color: white;
  border-radius: 20px;
  border: 2px solid grey;
  /* max-height: 0px; */
}
.active {
  visibility: visible;
}

.nikhil_address_semi_container {
  width: 80%;
  margin: auto;
}
.nikhil_name_pincode_mobile,
.nikhil_city_state_landmark {
  display: flex;
  justify-content: space-around;
  gap: 40px;
}
.nikhil_name_pincode_mobi div {
  width: 40%;
}
.nikhil_address_semi_container input,
.nikhil_address_semi_container select {
  display: block;
  width: 300px;
  margin: auto;
  height: 40px;
  border-radius: 10px;
  border: 1px solid grey;
  margin-top: 15px;
  padding: 10px;
}

.nikhil_area_and_street input {
  width: 89%;
  height: 100px;
}

.nikhil_save_address {
  display: block;
  margin: auto;
  padding: 10px;
  width: 100px;
  height: 40px;
  background-color: #6e42e5;
  color: white;
  border-radius: 10px;
  font-weight: 600;
  border: none;
  margin-top: 40px;
}

.nikhil_address_heading {
  text-align: center;
  margin-left: 23rem;
  font-size: 21px;
}
